<div class="container">
  <form class="card" (ngSubmit)="onSubmit()">
    <h1>ログイン</h1>

    <div class="field">
      <label>メールアドレス</label>
      <input type="email" [(ngModel)]="email" name="email" placeholder="xxxxxx@mail.com" required />
    </div>

    <div class="field">
      <label>パスワード</label>
      <input type="password" [(ngModel)]="password" name="password" placeholder="xxxxxx" required />
    </div>

    <p class="error" *ngIf="error">{{ error }}</p>

    <button type="submit">ログインする</button>

    <a href="#">アカウントがない場合</a>
  </form>
</div>
